body{
  background-color: #abc6d1;
  overflow-x: hidden;
  text-decoration: none;
  font-size: 16px;
  
}

@font-face{
  font-family: 'Gilroy-Light';
  src: url(fonts/Gilroy-Light.otf);
  font-family: 'Neo sans';
  src: url(fonts/Neo\ Sans\ Std\ Light.otf);
}

.card {

    box-shadow: 10px 4px 8px 0 rgba(56, 125, 216, 0.2);
    background-color: #a1c1c2   ;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    font-family: Gilroy-Light;
    
    
  }
  
  .card:hover {
    box-shadow: 10px 8px 16px 10px rgba(68, 107, 131, 0.4);

  }

  .container, .card-text, .price{
    padding-left: 10px;
  }

  .card-text{
    font-style: italic;
  }
  
  
  /* mobile */
  .grid{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
  }

  .site-nav{
    display: grid;
    grid-template-columns: 6fr 5fr ;
    text-decoration: none;
    align-items: center;
    font-family: Neo sans;  
    padding-left: 12px ;

  }

.site-nav a{
  padding-right: 12px;
  text-decoration: none;
  color: rgb(53, 51, 51);
  font-weight: bold;
  font-size: 1.2em;
  

}
  
#welcome{
  padding-top: 20px;
  padding-bottom: 40px;
  font-weight: lighter;
  font-family: Gilroy-Light;
  font-style: italic;
  align-items: center;
 
}

.aboutus{
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  line-height: 30px;
}

h2{
  align-content: center;
  padding: 20px 160px;
  font-family: Neo sans;
  color:  rgb(53, 51, 51);
}
#welcome .truck-image{
  padding: 20px 0px;
  margin: 20px;
  max-height: 350px;
  overflow: hidden;
  size: contain;
  border-radius: 10px;
}


  #menu{
    display: grid;
    gap: 2em;
    width: 100%;
    overflow-x: scroll;
    padding-top: 20px;
    padding-bottom: 100px;
    float: left;
    scroll-behavior: smooth;
    
  }
  #menu::-webkit-scrollbar{
    display: none;
  }
  #media::-webkit-scrollbar{
    display: none;
  }

  .card-image{
    max-width: 200px;
    align-self: center;
    max-height: 180px;
    
    overflow: hidden;
    border-radius: 5%;

  }

  #media{
    display: grid;
    grid-column: 1/11;
    gap: 2em;
    width: 100%;
    height: 30%;
    overflow-x: scroll;
    padding-top: 20px;
    padding-bottom: 50px; 
    background-color: #799fad;
    align-self: center;

  }


  #media div img{
    border-radius: 13%;
    max-width: 300px;
    max-height: 150px;
    padding: 20px 10px;
    
  }
  
  #locateus{
    padding: 60px 0px;
  }

#locateus img{
  padding: 10px 10px;
  max-width: 250px;
  max-height: 220px;
}

#h2{
  align-content: center;
  padding: 20px 145px;
  font-family: Neo sans;
  color:  rgb(53, 51, 51);

}

#locateus p{
  font-family: Gilroy-Light;
  float: right;
  font-size: medium;
  grid-column: 2/11;
  padding: 20px 0px;
  letter-spacing: 2px;
  line-height: 23px;
  padding-left: 20px;
}

.footer {
  display: flex;
  padding: 30px 0px;
  font-family: Neo sans;
  font-size: 14;
  letter-spacing: 1px;
  background-color: #799fad;
  
}

.footer .contact{
  grid-column: 1/2;
  padding: 0px 15px;
  letter-spacing: 1px;
  line-height: 25px;
  max-width: 40%;
}

.footer .timings{
  grid-column: 2/3;
  padding: 0px 10px;
  max-width: 30%;
}

.footer .social{
  padding: 0px 15px;
}

.footer .social a{
  padding: 10px 10px;
}

/* laptop view */

@media only screen and (min-width: 900px){

  .site-nav{
    padding-top: 30px;
    padding-left: 40px;
    font-size: larger;
  }

  .site-nav a{
    float: right;
    padding-right: 70;
  }

  .aboutus{
    font-size: larger;
    letter-spacing: 2px;
    line-height: 30px;
    padding: 30px 80px ;
  }

  #welcome .truck-image{
    max-width: 1200px;
    max-height: 750px;
    padding: 30px 140px ;
    align-self: center;
  }
  
  h2, #h2{
    align-self: center;
    padding-left: 650px;
    font-size: xx-large;
    padding-bottom: 65px;
    padding-top: 40px;
  }
#menu{
  padding-bottom: 150px;
}

.card-image{
  max-width: 280px;
  max-height: 200px;
  size: cover;
}


#media{
  height: 45%;
}

#media div img{
  max-width: 300px;
  max-height: 400px;
  padding-top: 40px;
  padding-left: 40px;
}

#locateus{
  padding-bottom: 120px;
}

#locateus img{

  max-width: 1900px;
  max-height: 500px;
padding-left: 250px;
}

#locateus p{
  font-size: xx-large;
  line-height: 50px;
  padding-left: 200px;
  font-weight: lighter;
}

.footer{
  padding-left: 40px;
  max-width: 100%;
  font-size: large;
  letter-spacing: 2px;
}

.footer .contact{
  width: 100%;
  line-height: 30px;
}

.footer .timings{
  width: 100%;
  line-height: 30px;
}

}
